/* segoe ui variable font embed */
@font-face {
  font-family: Segoe UI Variable;
  src: url("fonts/SegoeUI-VF.ttf");
}

@font-face {
  font-family: Segoe UI Variable Display;
  src: url("fonts/SegoeUI-VF.ttf");
}

@font-face {
  font-family: Segoe UI Variable Display Semibold;
  src: url("fonts/SegoeUI-VF.ttf");
}

@font-face {
  font-family: Segoe UI Variable Text;
  src: url("fonts/SegoeUI-VF.ttf");
}

@font-face {
  font-family: Segoe UI Variable Text Semibold;
  src: url("fonts/SegoeUI-VF.ttf");
}

body {
    height: 100%;
    background-image: linear-gradient(150deg, #b23aa2 0%, #1551c0 100%); 
    background-color: #0f0d21;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: "Segoe UI Variable", "Segoe UI", "Verdana", "Tahoma", "Helvetica", "Arial";
}

a {
    color: hotpink;
    text-decoration: none;
    transition: all 0.25s;
}

a:hover {
    color: pink;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer containing plenty of buttons and stuff */
footer {
    position: absolute;
    bottom: 1.75em;
    left: 50%;
}